/home/zzz/EpiBLAST/Ccode/example/debug/epigenomefiles
/home/zzz/EpiBLAST/Ccode/example/debug/epigenome/
/home/zzz/EpiBLAST/Ccode/example/debug/epigenomefiles
/home/zzz/EpiBLAST/Ccode/example/debug/epigenome/
/home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenomefiles_1 /home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenomefiles_2 /home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenomefiles_3
/home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenome_1/ /home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenome_2/ /home/zzz/EpiBLAST/Ccode/example/debug/epigenomerand/fakeepigenome_3/
/home/zzz/EpiBLAST/Ccode/example/debug/testfull2/
